/node_modules
/.next
/out
/coverage
.env*
!.env.example
/.npm-cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db
*.swp
*.tsbuildinfo
.vercel

.pnpm-store/

# Archivos locales de trabajo
excalidraw.log
por.traineddata
Fotos Extraídas de la Página Web/
